@font-face {
   font-family: 'CorpidOffice';
   font-display: swap;
   src: url('file:///C:/Users/52940/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-29_230559/fonts/CorpidOffice/font.ttf');
}
