@font-face {
   font-family: 'BankGothic Lt BT Light';
   font-display: swap;
   src: url('file:///C:/Users/52940/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-27_154031/fonts/BankGothic%20Lt%20BT%20Light/font.ttf');
}
